# Required Customization
#
aws_key_pair_name = "jmiller"
aws_key_pair_file = "~/.ssh/jmiller"
tag_dept = "SCE"
tag_contact = "jeremy"
#
# Optional
#
aws_ami_user = "centos"
aws_ami_id = "" # search filter will find the latest AMI if emtpy string
container_username = "chef-dev-ux"
container_uid = "9999"
container_gid = "8888"
container_data_mount = "/mnt/data"
automate_enterprise = "brewinc"
automate_admin_password = "insecurepassword"
docker_host_ip = "$(hostname --ip-address)"
automate_enabled = "true"
automate_token = "93a49a4f2482c64126f7b6015e6b0f30284287ee4054ff8807fb63d9cbd1c506"
chef_server_docker_origin = "chefserverofficial"
automate_docker_origin = "chefdemo"
chef_server_version = "stable" # latest, or semver ie. 12.17.41
automate_version = "stable" # latest, or semver ie. 1.8.38
firstboot_run_pedant = "true"
chef_server_org = "brewinc"
