aws_key_pair_name = "irving"
aws_key_pair_file = "~/.ssh/id_rsa"
tag_dept = "SCE"
tag_contact = "irving"
aws_ami_user = "centos"
aws_ami_id = "ami-10fa4768"
chef_server_instance_type = "m4.xlarge"
automate_server_instance_type = "m4.2xlarge"
docker_compose_path = "/usr/bin/docker-compose"
